<!-- views/editprofile.ejs -->
<!doctype html>
<html>

<head>
  <title>Mannskapshåndteringssystem</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../styles.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style: "font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <% if (isAdmin[0].isAdmin === 1) { %>
          <li><a href="/admin">Admin</a></li>
          <% } %>
          <li class="active"><a href="/profile">Profil</a></li>
          <li><a href="/events">Arrangementer</a></li>
          <li><a href="/search">Søk</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/logout">Logg ut</a></li>
        </ul>
      </div>
    </nav>


      <!-- LOCAL INFORMATION -->
    <div class="jumbotron d-flex align-items-center">


        <h3><span class="fa fa-user"></span> Min profil</h3>

          <p>
            <strong>Navn</strong>:
            <%= user.local.name %><br>
              <strong>E-post</strong>:
              <%= user.local.email %><br>
                <strong>Fødselsdato</strong>:
                <%= user.local.bday %><br>
          </p>
            <form action="/edit-profile" method="post">
              <div class="form-group">
                  <label>Endre navn</label>
                  <input type="text" class="form-control" name="changeName" />
              </div>
          <div class="form-group">
          <label>Endre Telefonnummer</label>
          <input type="number" class="form-control" name="changePhone" />
        </div>
                <div class="form-group">
                    <label>Endre E-post</label>
                    <input type="text" class="form-control" name="changeEmail" />
                </div>
          <div class="form-group">
            <label>Legg til kompetanse</label> </br>
            <select name="addCompetence">
              <option value="">Ingen</option>
              <optgroup label="Førerkort">
                 <option value="Førerkort 160 utrykningskjøring">Førerkort 160 utrykningskjøring</option>
                 <option value="Førerkort S snøscooter">Førerkort S snøscooter</option>
                 <option value="Førerkort BE tilhenger">Førerkort BE tilhenger</option>
               </optgroup>
               <optgroup label="Kurs og prøver">
                 <option value="Ambulansesertifisering">Ambulansesertifisering</option>
                 <option value="Båtførerprøven">Båtførerprøven</option>
                 <option value="Distriktsensorkurs">Distriktsensorkurs</option>
                 <option value="Hjelpekorpsprøve">Hjelpekorpsprøve</option>
                 <option value="Kvalifisert ATV kurs">Kvalifisert ATV kurs</option>
                 <option value="Kvalifisert kurs søk og redning">Kvalifisert kurs søk og redning</option>
                 <option value="Kvalifisert kurs søk og redning sommer">Kvalifisert kurs søk og redning sommer</option>
                 <option value="Kvalifisert kurs søk og redning vinter">Kvalifisert kurs søk og redning vinter</option>
                 <option value="Kvalifisert snøscooterkurs">Kvalifisert snøscooterkurs</option>
                 <option value="Kvalifisert sjøredningskurs">Kvalifisert sjøredningskurs</option>
                 <option value="Maritimt VHF-sertifikat">Maritimt VHF-sertifikat</option>
                 <option value="Vaktlederkurs">Vaktlederkurs</option>
                 <option value="Videregående sjøredningskurs">Videregående sjøredningskurs</option>
                 <option value="Videregående førstehjelpskurs">Videregående førstehjelpskurs</option>
               </optgroup>

              </select> </br>
                Gyldig fra: <input type="date" name="gyldigFra" required/>
                Gyldig til: <input type="date" name="gyldigTil" required/>
          </div>
                <button type="submit" class="btn btn-warning btn-lg">Endre informasjon</button>
            </form>

            </br>
              <% if (user.google.token) { %>
                <p>
                  Du har koblet din bruker til Google
                </p>

                <a href="/unlink/google" class="btn btn-danger fa fa-google-plus"> Frakoble</a>
                </br>
                </br>
                <% } else { %>
                  <a href="/connect/google" class="btn btn-danger fa fa-google-plus">Koble til Google</a>
                  </br>
                  <% } %>
                    <% if (user.facebook.token) { %>
                      <p>
                        Du har koblet din bruker til Facebook.
                      </p>

                      <a href="/unlink/facebook" class="btn btn-primary fa fa-facebook"> Frakoble</a>
                      <% } else { %>
                        <a href="/connect/facebook" class="btn btn-primary fa fa-facebook">Koble til Facebook</a>
                        <% } %>


      </div>
    </div>



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
