<!-- views/events.ejs -->
<!doctype html>
<html>
<head>
    <title>Mannskapshåndteringssystem</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
    <link rel="stylesheet" href="styles.css">

</head>


<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style:"font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <% if (isAdmin[0].isAdmin === 1) { %>
          <li><a href="/admin">Admin</a></li>
          <% } %>
          <li><a href="/profile">Profil</a></li>
          <li class="active"><a href="/events">Arrangementer</a></li>
          <li><a href="/search">Søk</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/logout">Logg ut</a></li>
        </ul>
      </div>
    </nav>
    <h1 class="text-center">Opprett arrangement</h1>
    <div class="jumbotron d-flex align-items-center text center">
      <div class="text-center">
        <form action="/add-event" method="post">
          <div class="form-group">
              <label>Navn</label>
              <input type="text" class="form-control" name="eventName">
          </div>
          <div class="form-group">
              <label>Fra dato</label>
              <input type="date" class="form-control" name="fromDate">
          </div>
          <div class="form-group">
              <label>Til dato</label>
              <input type="date" class="form-control" name="toDate">
          </div>
          <div class="form-group">
              <label>Fra klokkeslett</label>
              <input type="time" class="form-control" name="fromTime">
          </div>
          <div class="form-group">
              <label>Til klokkeslett</label>
              <input type="time" class="form-control" name="toTime">
          </div>
          <div class="form-group">
              <label>Poststed</label>
              <input type="text" class="form-control" name="poststed">
          </div>
          <div class="form-group">
              <label>Adresse</label>
              <input type="text" class="form-control" name="adresse">
          </div>
          <div class="form-group"
          <label for="vaktmal">Vaktmal</label>
          <select class="form-control" name="vaktmal">
              <% for (let i=0; i<eventMal.length; i++) { %>
              <option value="<%= eventMal[i].key %>"><%= eventMal[i].navn %></option>
            <% } %>
          </select>
          </div>
            <button type="submit" class="btn btn-warning btn-lg">Legg til nytt arrangement</button>
        </form>
</div>


    </div>
  </div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src='fullcalendar-3.8.2/lib/jquery.min.js'></script>
<script src='fullcalendar-3.8.2/lib/moment.min.js'></script>
<script src='fullcalendar-3.8.2/fullcalendar.js'></script>
<script src='fullcalendar-3.8.2/locale/nb.js'></script>
<script>$(document).ready(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
    defaultView: 'month',
  })

});</script>
</body>
</html>
