<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <title>Mannskapshåndteringssystem</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
    <link rel="stylesheet" href="styles.css">

</head>



<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style:"font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
      </div>
    </nav>



    <div class="container text-center" id="header">
      <div class="container text-left" id="logginn">
        <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

          <p>Logg inn eller registrer:</p>
        <!-- LOGIN FORM -->
        <form action="/login" method="post">
          <div class="form-group">
            <label>E-post</label>
            <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label>Passord</label>
            <input type="password" class="form-control" name="password">
          </div>

          <button type="submit" class="btn btn-warning btn-lg">Logg inn</button>
        </form>

        <hr>
        <p>Logg inn med </br>
          <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
          <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google+</a></p>
        </p>
      </br>
        <p>Trenger du en bruker? </br>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registrer</a>
      </div>
      <div class="well" id="info">
        <h3>Informasjon</h3>
        <p>
          Velkommen til Røde Kors Mannskapshåndteringssystem </br>
          Vennligst registrer deg og vent på godkjenning før du logger inn. </br>
        </p>
      </div>

    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
