<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Mannskapshåndteringssystem</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
    <link rel="stylesheet" href="styles.css">

</head>


<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style:"font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Forside</a></li>
        </ul>
      </div>
    </nav>


<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Logg inn</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/login" method="post">
        <div class="form-group">
            <label>E-post</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Passord</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Logg inn</button>
    </form>

    <hr>

    <p>Trenger du en bruker? <a href="/signup">Registrer deg</a></p>
    <p>Eller gå til <a href="/">forsiden</a>.</p>

</div>

</div>
</body>
</html>
