<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
  <title>Mannskapshåndteringssystem</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
  <link rel="stylesheet" href="styles.css">

</head>

<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand" style:"font-color: red"> <img src="/img/logo.png" style="width: 40px"> Røde Kors</a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">Forside</a></li>
          <li class="active"><a href="/profile">Profil</a></li>
          <li><a href="/contact">Kontakt</a></li>
          <li><a href="/logout">Logg ut</a></li>
        </ul>
      </div>
    </nav>

    <div class="row">

  <div class="container-fluid col-sm-4" id="rightContainer">

        <div id='calendar'>   </br>








      <h3>Alle brukere i systemet:</h3> </br>
      <ul>
        <% for(var i=0; i<data.length; i++) {%>
          <li>
            <%= data[i]['localName'] %>
          </li>
          <% } %>
      </ul>
      </ul>

      </div>
      </div>
        <!-- LOCAL INFORMATION -->
  <div class="well container-fluid col-sm-4" id="leftContainer">


            <h3><span class="fa fa-user"></span> Min profil</h3>

            <% if (user.local.email) { %>
              <p>
                <strong>Navn</strong>:
                <%= user.local.name %><br>
                  <strong>email</strong>:
                  <%= user.local.email %><br>
                    <strong>Fødselsdato</strong>:
                    <%= user.local.bday %>
              </p>
              <% } else { %>
                <a href="/connect/local" class="btn btn-default">Koble til lokal</a>
              </br>
                <% } %>
                  <% if (user.google.token) { %>
                    <p>
                      Du har koblet din bruker til Google
                    </p>

                    <a href="/unlink/google" class="btn btn-danger fa fa-google-plus"> Frakoble</a>
                    </br>
                    </br>
                    <% } else { %>
                      <a href="/connect/google" class="btn btn-danger fa fa-google-plus">Koble til Google</a>
                      </br>
                      <% } %>
                        <% if (user.facebook.token) { %>
                          <p>
                            Du har koblet din bruker til Facebook.
                          </p>

                          <a href="/unlink/facebook" class="btn btn-primary fa fa-facebook"> Frakoble</a>
                          <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary fa fa-facebook">Koble til Facebook</a>
                            <% } %>



    </div>
          </div>
  </div>



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src='fullcalendar-3.8.2/lib/jquery.min.js'></script>
  <script src='fullcalendar-3.8.2/lib/moment.min.js'></script>
  <script src='fullcalendar-3.8.2/fullcalendar.js'></script>
  <script src='fullcalendar-3.8.2/locale/nb.js'></script>
  <script>
    $(document).ready(function() {

      // page is now ready, initialize the calendar...

      $('#calendar').fullCalendar({
        defaultView: 'month',
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: [{
          title: 'Woohooo',
          url: '/profile',
          start: '2018-03-12',
        }],
        dayClick: function(date) {
          alert('du klikket på ' + date.format());
        }

      })

    });
  </script>
</body>

</html>
