<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Mannskapshåndteringssystem</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='fullcalendar-3.8.2/fullcalendar.css' />
    <link rel="stylesheet" href="styles.css">

</head>

<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Registrer</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form action="/signup" method="post">
      <div class="form-group">
          <label>Navn</label>
          <input type="text" class="form-control" name="name">
      </div>
      <div class="form-group">
      <label>Fødselsdato</label>
      <input type="date" class="form-control" name="bday">
  </div>
  <div class="form-group">
  <label>Telefonnummer</label>
  <input type="number" class="form-control" name="phone">
</div>
        <div class="form-group">
            <label>E-post</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Passord</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Registrer deg</button>
    </form>

    <hr>

    <p>Har du allerede en bruker? <a href="/login">Logg inn</a></p>
    <p>eller gå til <a href="/">forsiden</a>.</p>

</div>

</div>
</body>
</html>
