p {
  word-wrap: break-word;
}
.navbar-nav {
    float: right;
    padding-top: 10px;
}
.navbar-inverse {
  background-color: inherit;
  border: none;
}
.navbar-nav a {
    color: blue !important;
    border-radius: 20px !important;
    width: 130%;
    text-align: center;
}
.navbar-nav li {
    padding-left: 50px !important;
    margin-left: -3%;
}
.navbar-inverse .navbar-nav>.active>a {
    background-color: lightblue !important;
}
.navbar-inverse{
  color: blue !important;
}
.navbar-brand{
  color: red !important;
  font-size: 30px;
}
#logginn{
  width: 50%;
  float: left;
}
#info{
  width: 50%;
  margin-top: 5%;
  float: right;
  background-color: lightgrey;
}
#header {
  overflow: hidden;
}
#leftContainer {
  width: 50%;
  float: left;
}
#rightContainer {
  width: 50%;
  float: right;
}
.well {
  padding-top: 0px !important;
}
